html, body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: #black;
    background-color: #4c293c;
}
.sem_wrap{
    float: left;
    max-width: 200px;
    margin: 10px 5px;
}
.semester{
    background-color: #c17164;
    max-width: 500px;
    min-width: 200px;
    border-collapse:collapse
}
.sem_data{
    font-size: 13px;
}
thead {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}
#semester td {
    padding: 2px;
    text-decoration: underline;
}
td {
    text-align: center;
}
#add_semester{
    width: 100px;
    height: 100px;
    background-color: #c17164;
    float: left;
    margin-top: 25px;
    margin: 35px 10px 5px 10px;
    font-size: 80px;
    text-align: center;
    border-radius: 50px;
    color: #4c293c;
    display: table-cell;
}
.add_row:hover{
    background-color: #fc9f8d;
}
#add_semester:hover{
    background-color: white;
    color: #fc9f8d;
    -webkit-animation:spin 0.1s linear;
    animation:spin 0.1s linear  ;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

.add_row{
    text-align: center;
}
.credits, .grade{

}
table input {
    width: 60px;
    margin: 0 auto;
    border: solid 1px white;
    padding: 5px;
    text-align: center;
    color: white;
}
#tranc{
    float: left;
}
#IRA{
    height: 50px;
    text-align: right;
    font-size: 40px;
    border-top: 1px solid black;
    display:flex;
    position:absolute;;
    width: 100%;
    bottom: 0;
    color: white;
}
#IRA:hover{
    background-color: #666;
}
#IRA:active{
    background-color: #777;
}
#main{
    width: 80%;
    float:left;
    height: 100%;
}
#top{
    text-align: center;
    width: 100%;
    float: left;
    height: auto;
    color: #fc9f8d;
}
#sem_cont{
    width: 100%;
    float: left;
    height: 80%;
}
#res{
    width: 19%;
    float: right;
    height: 100%;
    background-color: #555;
    border-left: 1px solid black;
    position: relative;
}
.del_s{
    background-color: #c17164;
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 25px;
    height: 25px;
    font-weight: bolder;
    color:white;
    cursor:default;
    float: right;
    clear: both;
}
.del_s:hover{
    color: #4c293c;
}
.del_p {
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    font-weight: bolder;
    border-radius: 100px;
    cursor:default;
    background-color: white;
    color: #c17164;
}
.del_p:hover{
    color: #fc9f8d;
    background-color: #4c293c;
}
a {
    color: #dd4f59;
    text-decoration: none;
}
a:hover {
    color:#a5e8ff;
}
#info{
    color: white;
}
#bottom_cont{
    position: fixed;
    bottom: 0;
    left: 0;
}
#love{
    position: fixed;
    color: #fc9f8d;
    bottom: 0;
}
#trancamentos{
    width: 250px;
    font-size: 12px;
    text-decoration: none;
    border-collapse:collapse
}
#trancamentos td{
    padding: 2px;
    border: 1px solid black;
}
#slider_cont{
    float: left;
}
#slider{
    width: 100%;
    margin: 0;
}
@media (min-width: 860px) and (max-width: 1315px) {
    #res {
        width: 250px;
    }
    #main {
        max-width: 70%;
    }
    #top {
        width: auto;
    }
}
@media (max-width: 860px) {
    #res {
        width: 250px;
    }
    #main {
        max-width: 50%;
    }
    #top {
        width: auto;
    }
}
