html, body{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
    cursor: default;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: #black;
    background-color: #4c293c;
}
#sem_cont{
    width: 100%;
    float: left;
    height: 80%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.sem_wrap{
    /*float: left;*/
    max-width: 200px;
    margin: 10px 5px;
    flex-grow: 1;
}
.semester{
    background-color: #c17164;
    max-width: 500px;
    min-width: 200px;
    border-collapse:collapse;
}
.sem_data{
    font-size: 13px;
}
thead {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}
#semester{
    cursor: default;
}
#semester td {
    padding: 2px;
    text-decoration: underline;
    cursor: default;
}
td {
    text-align: center;
}
#add_sem_cont{
    width: 100%;
    flex-grow: 1;
}
#add_semester{
    width: 100px;
    height: 100px;
    background-color: #c17164;
    margin-top: 25px;
    margin: 5px auto;
    font-size: 80px;
    text-align: center;
    border-radius: 50px;
    color: #4c293c;
    line-height: 100px;
}
.add_row:hover{
    background-color: #fc9f8d;
}
#add_semester:hover{
    background-color: white;
    color: #fc9f8d;
    -webkit-animation:spin 0.1s linear;
    animation:spin 0.1s linear  ;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

.add_row{
    text-align: center;
}
.credits, .grade{

}
table input {
    width: 60px;
    margin: 0 auto;
    border: solid 1px white;
    background-color: #4c293c;
    padding: 5px;
    text-align: center;
    color: white;
}
#tranc{
    float: left;
}
#IRA{
    height: 50px;
    text-align: right;
    font-size: 40px;
    border-top: 1px solid black;
    display:flex;
    position:absolute;;
    width: 100%;
    bottom: 0;
    color: white;
}
#IRA:hover{
    background-color: #4c293c;
}
#main{
    width: 80%;
    float:left;
    height: 100%;
}
#top{
    text-align: center;
    width: 100%;
    float: left;
    height: auto;
    color: #fc9f8d;
}
#res{
    width: 19%;
    float: right;
    height: 100%;
    background-color: #b38d97;
    border-left: 1px solid black;
    position: relative;
}
.del_s{
    background-color: #4c293c;
    vertical-align: middle;
    text-align: center;
    width: 25px;
    height: 25px;
    font-weight: bolder;
    color:white;
    cursor:default;
    -webkit-box-shadow: inset 3px -3px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 3px -3px 3px 0px rgba(0,0,0,0.15);
    box-shadow: inset 3px -3px 3px 0px rgba(0,0,0,0.15);
}
.del_s:hover{
    color: #4c293c;
    background-color: #c17164;
    -webkit-box-shadow: inset 3px -3px 3px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: inset 3px -3px 3px 0px rgba(0,0,0,0.44);
    box-shadow: inset 3px -3px 3px 0px rgba(0,0,0,0.44);
}
.del_p {
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    font-weight: bolder;
    border-radius: 100px;
    cursor:default;
    background-color: white;
    color: #c17164;
    margin-right: 4px;
}
.del_p:hover{
    color: #fc9f8d;
    background-color: #4c293c;
}
a {
    color: #dd4f59;
    text-decoration: none;
}
a:hover {
    color:#a5e8ff;
}
#info{
    color: white;
    text-align: center;
    font-weight: bold;

}
#bottom_cont{
    position: fixed;
    bottom: 0;
    left: 0;
}
#love{
    position: fixed;
    color: #fc9f8d;
    bottom: 0;
}
#trancamentos{
    width: 250px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    border-collapse:collapse;
    background-color: #4c293c;
    border-color: white;
}
#trancamentos td{
    padding: 2px;
    border: 1px solid white;
}
#slider_cont{
    float: left;
}
#slider{
    width: 100%;
    margin: 0;
}
@media (min-width: 860px) and (max-width: 1315px) {
    #res {
        width: 250px;
    }
    #main {
        max-width: 70%;
    }
    #top {
        width: auto;
    }
}
@media (max-width: 860px) {
    #res {
        width: 250px;
    }
    #main {
        max-width: 50%;
    }
    #top {
        width: auto;
    }
}
